.markdown-body
  blockquote
    background #f9f9f9
    border-left 10px solid #5599ff
    margin 1.5em 10px
    padding 0.5em 10px
    quotes "\201C""\201D""\2018""\2019"
    &:before
      color #5599ff
      content open-quote
      font-size 4em
      line-height 0.1em
      margin-right 0.25em
      vertical-align -0.4em
    p
      display inline
  strong
    font-weight normal
    color #fd5b03
  italic
    font-weight normal
    color #9955ff
  pre
    *
      font-family SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace
    background-color #f8f8f8
    border-radius 3px
    word-wrap break-word
    padding 0 5px
    font-size 16px
    color #898989
    margin 0 2px
    white-space nowrap
    border 1px solid #eaeaea
    code
      margin 0
      padding 0
      white-space pre
      border none
      background transparent
  h1, h2, h3, h4, h5, h6
    word-break break-all !important
    margin 20px 0
    line-height 1.2
    text-align left
    font-weight bold
    padding-left 15px
  h1
    border-left 6px solid #ff3333 !important
    font-size 24px !important
  h2
    border-left 4px solid #3a8619 !important
    font-size 20px !important
  h3
    border-left 4px solid #71ba51 !important
    font-size 17px !important
  h4
    border-left 4px solid #0174df !important
    font-size 14px !important
  h5
    border-left 4px solid #58acfa !important
    font-size 14px !important
  h6
    border-left 4px solid #58d3f7 !important
    font-size 14px !important
  a
    color #4183c4 !important
    text-decoration none !important
    font-size 14px !important
    padding-left 24px
    margin-left 24px
  ul, ol
    padding-left 30px
  li
    line-height 24px
  hr
    height 4px
    padding 0
    margin 16px 0
    background-color #e7e7e7
    border 0 none
    overflow hidden
    box-sizing content-box
    border-bottom 1px solid #ddd
  img
    max-width 450px
    width 450px
    overflow hidden
    padding: 2px
    outline-offset 2px
    margin 0 auto
    display block
  table
    width 100%
    max-width 65em
    border 1px solid #dedede
    margin 15px auto
    border-collapse collapse
    empty-cells show
    th
      font-weight bold
      text-align center !important
      background rgba(158, 188, 226, 0.2)
      white-space nowrap
    tbody
      tr
        &:nth-child(2n)
          background rgba(158, 188, 226, 0.12)
    td
      &:nth-child(1)
        white-space nowrap
    tr
      &:hover
        background #efefef
  table th,
  table td
    height 35px
    border 1px solid #dedede
    padding 0 10px
  .table-area
    overflow auto
  tt
    color #d127ce
    margin 0 2px
    padding 0 5px
    white-space nowrap
    border 1px solid #eaeaea
    background-color #f8f8f8
    border-radius 3px

.markdown_my2
  h1, h2, h3, h4, h5, h6
    word-break break-all !important
    margin 20px 0
    line-height 1.2
    text-align left
    font-weight bold
    padding-left 15px
  h1
    border-left 6px solid #ff3333 !important
    font-size 24px !important
  h2
    border-left 4px solid #3a8619 !important
    font-size 20px !important
  h3
    border-left 4px solid #71ba51 !important
    font-size 17px !important
  h4
    border-left 4px solid #0174df !important
    font-size 14px !important
  h5
    border-left 4px solid #58acfa !important
    font-size 14px !important
  h6
    border-left 4px solid #58d3f7 !important
    font-size 14px !important
